body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #3498db, #2c3e50); 
}

.stopwatch-container {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}

#display {
    font-size: 3em;
    margin-bottom: 10px;
}

button {
    font-size: 1.5em;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#laps {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

#laps li {
    font-size: 0.8em;
    margin-bottom: 5px;
}
